@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

div {
  box-sizing: border-box;
}

body, button, input {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: #404040;
  color: #c8c8c8;
}

button, input {
  border: 1px lightcoral solid;
}

button:focus, input:focus {
  outline: 0 none;
  box-shadow: 0 1px 1px lightcoral inset, 0 0 8px coral;
}

.fullHeight {
  display: flex;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 1rem;
  display: flex;
  flex-basis: 600px;
  flex-direction: column;
}

.sidebar {
  margin-left: 1rem;
  margin-top: 1rem;
  flex: 1;
}

.lineContainer {
  flex: 1 1 auto;
  overflow: auto;
}

.line {
  margin: 0.2rem 0;
  padding: 0;
}

.line.command {
  margin: 0.3rem 0;
  padding: 0.1rem 0;
  background-color: #505050;
}

.line .bold {
  font-weight: 700;
}

.white { color: #ffffff; }
.dark-grey { color: #808080; }
.blue { color: #9090ff; }
.yellow { color: #f0e000; }
.orange { color: #ffa000; }
.light-red { color: #ff6060; }
.red { color: #e04040; }
.light-cyan { color: #00c0c0; }
.cyan { color: #009090; }

.commandInput {
  margin: 1rem 0 2rem 0;
}

.commandInput input {
  width: 100%;
}

.selfInfoBar {
  margin-top: 1rem;
  width: 100%;
}

.roomEntities > div {
  display: flex;
  align-items: end;
  margin-bottom: 0.2rem;
}

.roomEntities > div > .name {
  flex: 0 60%;
  overflow: hidden;
}

.roomEntities > div > .gauge {
  flex: 1;
}

.gauge {
  display: grid;
  background-color: #303030;
  font-size: 80%;
}

.gauge div {
  grid-area: 1 / 1;
  padding: 0.1rem 0.1rem;
}

.gauge .filled {
  transition: width 0.2s ease-in-out;
  background-color: #a04040;
}

.loginForm {
  width: calc(min(100vw, 400px));
  margin: 4rem auto 0 auto;
}

.loginForm div {
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
}

.loginForm div input {
  flex: 1 1 auto;
  margin: 0 0.4rem;
}

.loginForm button {
  display: block;
  margin: 0 auto;
  padding: 4px;
}
